<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projeto Brocantes{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'brocantes_app/css/styles.css' %}">
</head>
<body>
    <div class="{% block container_class %}container{% endblock %}">
        {% block content %}
        <!-- O conteúdo das páginas será renderizado aqui -->
        {% endblock %}
    </div>
</body>
</html>
