{% extends 'base.html' %}

{% block container_class %}container-lista{% endblock %}

{% block content %}
  <h2>Lista de Doadores</h2>
  
  <!-- <a href="{% url 'cadastrar_doador' %}" class="btn btn-success">Adicionar Novo Doador</a> -->
  <div class="button-container">
    <a href="{% url 'cadastrar_doador' %}" class="btn btn-success">Adicionar Novo Doador</a>
  </div>   

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Documento ID</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for doador in doadores %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ doador.nome }}</td>
          <td>{% if doador.email %}{{ doador.email }}{% else %}Não informado{% endif %}</td>
          <td>{% if doador.telefone %}{{ doador.telefone }}{% else %}Não informado{% endif %}</td>
          <td>{% if doador.documento_id %}{{ doador.documento_id }}{% else %}Não informado{% endif %}</td>
          <td>{{ doador.cidade.nome }}</td>
          <td>{{ doador.estado.nome }}</td>
          <td>
            <a href="{% url 'editar_doador' doador.id %}" class="btn btn-primary btn-sm">Editar</a>
            <a href="{% url 'excluir_doador' doador.id %}" class="btn btn-danger btn-sm">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8">Nenhum doador encontrado.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Paginação -->
  <div class="pagination">
    <span class="step-links">
        {% if doadores.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ doadores.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ doadores.number }} de {{ doadores.paginator.num_pages }}.
        </span>

        {% if doadores.has_next %}
            <a href="?page={{ doadores.next_page_number }}">Próxima</a>
            <a href="?page={{ doadores.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
