body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 80px; 
}

.login-container {
  width: 300px;
  margin: 0 auto;
  margin-top: -200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-search {
  width: 70%; /* Define a largura do formulário de pesquisa */
  margin: 0 auto; /* Centraliza o formulário na página */
}

.consulta-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.consulta-container h2 {
  margin-top: 0;
  text-align: center;
}

.search-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 38px;
}

.table-striped {
  margin-top: 20px;
}

.button-center {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  margin-top: 0.5rem; /* Equivalente a mt-4 */
  width: 500px;
}

.full-width-button {
  width: 100%; /* Faz o botão ocupar toda a largura disponível */
  max-width: 300px; /* Define uma largura máxima opcional */
}

.home-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Espaçamento interno para o efeito de moldura */
  border: 10px solid #e0e0e0; /* Cor e espessura da borda */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de elevação */
  border-radius: 15px; /* Arredondamento dos cantos */
  background-color: #fafafa; /* Cor de fundo da moldura */
  margin: 40px auto; /* Centraliza e adiciona espaço ao redor */
  max-width: 80%; /* Limita a largura para que fique proporcional */
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
  border-radius: 10px; /* Arredondamento dos cantos da imagem */
}


/* .container-lista {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%; 
  text-align: center;
  position: relative;
} */

/* .container-lista {
  width: 90%;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 300px;  */
/*   width: 90%;
  text-align: center;
  position: relative;
} */

/* Contêiner para a lista de doadores */
.container-lista {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contêiner para as páginas de formulário (adicionar/editar) */
.container-form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);  /* Para levar em conta o padding e a borda */
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #4cae4c;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Estilos para a tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f8f9fa;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

.btn {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #007bff;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .current {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
}

/* Adicionando estilo para tabelas */
.table-list {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;  /* Para evitar sobreposição com a navbar */
  border-collapse: collapse;
}

.table-list th, .table-list td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-list td {
  background-color: #fff;
}

